<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablet en espera</title>
    <style>
        body {
            background-color: black;
            margin: 0;
            height: 100vh; /* Asegura que el fondo negro cubra toda la altura de la ventana */
            color: white; /* Opcional: establece el color del texto a blanco por si lo necesitas */
        }
    </style>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>
        // Función que envía una solicitud POST a /new_index y luego redirige
        function handleClick() {
            console.log("Handle click event triggered");

            fetch('/new_index', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log("Server response received:", data.message);
                // Redirige a la nueva URL
                console.log("Redirecting due to handleClick");
                window.location.href = '{{ server_url }}/';
            })
            .catch(error => {
                console.error('Error:', error); // Muestra errores en la consola
            });
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            // Conectar con el servidor WebSocket
            const socket = io();

            // Escuchar el evento 'update_content'
            console.log("PRE SOCKET ON");
            socket.on('update_content', (data) => {
                console.log("WebSocket event 'update_content' received");

                // Llamar a handleClick después de un retraso de 3 segundos
                setTimeout(() => {
                    console.log("Calling handleClick after timeout");
                    handleClick();
                }, 2000); // 3000 milisegundos = 3 segundos
            });
        document.addEventListener('click', handleClick); // Comentar esta línea cuando todo esté operativo
        });
    </script>
</head>
<body>
    <!-- Sin contenido -->
</body>
</html>
